.details {
    padding-bottom: 140px;
}

.titleBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    gap: 15px;
}

.title {
    font-family: "BravoSC";
    font-size: 50px;
    font-weight: 400;
    position: relative;
}

.line {
    width: 100%;
    max-width: 550px;
    height: 2px;
    background-color: #000;
    margin: 10px 0;
    flex: 1 1 auto
}

.subtitle {
    font-family: 'Play';
    font-size: 15px;
}

@media (max-width: 1424px) {
    .titleBlock {
        flex-wrap: wrap;
        justify-content: start;
    }
    .line {
        width: 500px;
    }
}

@media (max-width: 1374px) {
    .line {
        width: 450px;
    }
}

@media (max-width: 1324px) {
    .line {
        width: 400px;
    }
}

@media (max-width: 1274px) {
    .line {
        width: 350px;
    }
}

@media (max-width: 967px) {
    .titleBlock {
        flex-direction: column;
        align-items: start;
    }

    .line {
        max-width: 100%;
        width: 100%;
    }
}

.imagesBlock {
    display: grid;
    grid-template-areas: 'first second second' 'first third fourth';
    gap: 20px;
}

@media (max-width: 1260px) {
    .imagesBlock {
        grid-template-areas: 'first third' 'first fourth' 'second second';
    }
}

@media (max-width: 900px) {
    .imagesBlock {
        grid-template-areas: 'first first' 'first first' 'second second' 'third fourth';
    }
}

.img {
    border-radius: 20px;
    align-self: stretch;
    justify-self: stretch;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.firstImg {
    grid-area: first;
}

.secondImg {
    grid-area: second;
}

.thirdImg {
    grid-area: third;
}

.fourthImg {
    grid-area: fourth;
}

@media (max-width: 846px) {
    .title {
        font-size: 40px;
    }
}

@media (max-width: 602px) {
    .title {
        font-size: 35px;
    }
}

@media (max-width: 520px) {
    .title {
        font-size: 30px;
    }
}