.helper {
    padding-top: 166px;
    margin-bottom: 170px;
}

.titleBlock {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

.title {
    font-family: "BravoSC";
    font-size: 50px;
    font-weight: 400;
}

.subtitle {
    max-width: 313px;
    font-family: "Play";
    font-size: 15px;
    color: #3D3C3E;
}

.content {
    display: grid;
    gap: 41px;
}

.tiles {
    display: grid;
    gap: 18px;
    
    grid-template-areas: 'tile1 tile2 tile5 tile5' 'tile3 tile4 tile5 tile5 ';
}

.tile {
    width: 277px;
    background-color: #EEEEEE;
    padding: 63px 33px 43px;
    border-radius: 10px;
}

.tileDark {
    background-color: #3D3C3E;
    color: #fff;
}

.tileDark .tileSubtitle {
    color: #fff;
}

.tileTitle {
    font-family: "BravoSC";
    font-size: 80px;
    font-weight: 400;
}

.tileSubtitle {
    font-size: 18px;
    font-family: "Play";
    color: #3D3C3E;
}

.description {
    background-color: #EEEEEE;
    border-radius: 10px;
    display: flex;
    padding: 51px 63px 36px;
    gap: 113px;
    color: #3D3C3E;
    width: 838px;
}

@media (max-width: 1460px) {
    .description {
        width: 780px;
        gap: 63px;
        padding-right: 33px;
    }
}

@media (max-width: 1400px) {
    .description {
        width: 730px;
        gap: 33px;
        padding-right: 23px;
        padding-left: 23px;
    }
}

@media (max-width: 1350px) {
    .description {
        width: 700px;
    }
}

@media (max-width: 1320px) {
    .tiles {
        grid-template-areas: 'tile1 tile5' 'tile2 tile5' 'tile3 tile4';
    }
    .tile {
        width: 100%;
    }

    .tile4 {
        max-width: 400px;
    }
}

.info {
    width: 280px;
}

.descriptionTitle {
    font-size: 50px;
    font-family: "BravoSC";
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 33px;
    color: #000;
}

.text {
    font-family: "Play";
    font-size: 15px;
    margin-bottom: 42px;
    color: #3D3C3E;
}

.img {
    border-radius: 10px;
}

.btn {
    border: none;
    background-color: transparent;
}

.tile1 {
    grid-area: tile1;
}

.tile2 {
    grid-area: tile2;
}

.tile3 {
    grid-area: tile3;
}

.tile4 {
    grid-area: tile4;
}

.tile5 {
    grid-area: tile5;
}