.btn {
    font-family: "Play";
    font-size: 15px;
    padding: 24px 50px;
    border: none;
    color: #fff;
    /* background-color: #EE5600;
     */
    background-color: rgba(238, 68, 0, .73);
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s linear;
    font-weight: 700;
    text-transform: uppercase;
    background-size: 300% 100%;
    flex-shrink: 1;
    flex-grow: 1;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.border {
    background-color: transparent;
    border: 2px solid #3D3C3E;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 6px;
    bottom: -6px;
    left: 6px;
    border-radius: 10px;

}

.btn:hover {
    /* background-position: 100% 0;
    transition: all .4s ease-in-out; */
    background-color: #3D3C3E;
}

.btn:hover .border {
    border-color: rgba(238, 68, 0, .73);
}

@media (max-width: 603px) {
    .btn {
        font-size: 13px;
        padding: 13px 25px;
    }
}