.btn {
    font-family: "Play";
    font-size: 15px;
    padding: 24px 50px;
    border: none;
    color: #fff;
    background-color: #3D3C3E;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s linear;
    font-weight: 700;
    text-transform: uppercase;
    background-size: 300% 100%;
}

.btn:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}

.btn.color {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
}