.btn {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: rgba(0, 0, 0, .7);
    gap: 10px;
    border: none;
    background-color: transparent;
    transition: all .3s linear;
    font-family: "Play";
    text-decoration: none;
    flex-grow: 1;
    width: 100%;
}

.play, .circle {
    transition: all .3s linear;
}

.btn:hover {
    color: #000
}

.btn:hover .play {
    fill: #000;
}

.btn:hover .circle {
    stroke: #000;
}

@media (max-width: 603px) {
    .btn {
        font-size: 13px;
        /* padding: 13px 25px; */
    }
}