.btn {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: rgba(0, 0, 0, .7);
    gap: 10px;
    border: none;
    background-color: transparent;
    transition: all .3s linear;
    font-family: "Play";
    text-decoration: none;
}

.play, .circle {
    transition: all .3s linear;
}

.btn:hover {
    color: #000
}

.btn:hover .play {
    fill: #000;
}

.btn:hover .circle {
    stroke: #000;
}