.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px;
}

.menu {
    display: flex;
    gap: 60px;
}

.closeBtn {
    display: none;
}

.closeBtn img {
    width: 100%;
    height: 100%;
}

.burgerHeader {
    list-style: none;
    display: none;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1111px) {
    .menu {
        gap: 50px;
    }
}

@media (max-width: 1030px) {
    .menu {
        gap: 30px;
    }

    .loginList {
        gap: 30px
    }
}

@media (max-width: 1000px) {
    .nav {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        transform: translateY(-100vh);
        /* transition: transform .3s linear; */
    }
    .navActive {
        transform: translateY(0);
        transition: transform .3s linear;
    }
    .menu {
        position: absolute;
        flex-direction: column;
        background-color: #FFF;
        height: 100vh;
        width: 100%;
        padding: 15px 20px;
    }
    .closeBtn {
        display: block;
        background-color: transparent;
        border: none;
        width: 30px;
        height: 30px;
    }
    .burgerHeader {
        display: flex;
    }
}

.loginBlock {
    display: flex;
    gap: 50px;
}

.menuItem {
    list-style: none;
}

.menuLink {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    transition: all .2s ease-in;
    position: relative;
    font-family: "Play";
}

.menuLink:hover {
    color: #000;
}

.menuLinkActive {
    color: #000;
}

.menuLinkActive::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #F25B05;
    transform: scaleX(1);
}

.loginList {
    display: flex;
    align-items: center;
    gap: 50px;
}

.loginItem {
    list-style: none;
}

.menu .loginItem {
    display: none;
}

@media (max-width: 600px) {
    .loginList {
        gap: 30px;
    }

    .loginBlock {
        gap: 30px;
    }
}

@media (max-width: 483px) {
    .loginList .loginItem {
        display: none;
    }

    .menu .loginList {
        flex-direction: column;
    }

    .menu .loginItem {
        display: block;
    }
    .menu .borderedBtn {
        width: 100%;
    }
}