.introTitleBlock {
    padding: 20px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-bottom: 37px;
}

.introTitle {
    color: #3D3C3E;
    font-size: 140px;
    line-height: 1;
    font-family: "BravoRG";
    font-weight: 400;
    text-align: center;
}

@media (max-width: 1170px) {
    .introTitle {
        font-size: 120px;
    }
}

.accent {
    color: #F25B05;
}

.introBlock {
    display: flex;
    justify-content: space-between;
    gap: 34px;
}

.introContent {
    max-width: 626px;
}

.introSubtitle {
    font-family: "BravoSC";
    font-size: 49px;
    font-weight: 404;
    margin-bottom: 32px;
}

.introText {
    font-family: "Play";
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
}

.text {
    width: 404px;
}

.title3 {
    font-family: "BravoSC";
    font-size: 41px;
    text-align: right;
    font-weight: 400;
    margin-bottom: 33px;
}

.capacities {
    display: flex;
    justify-content: end;
    margin-bottom: 55px;
    gap: 20px;
}

.item {
    font-family: "Play";
    font-size: 15px;
    text-align: center;
    border: 1px solid #3D3C3E;
    border-radius: 10px;
    width: 161px;
    padding: 13px 0;
}

.img img {
    width: 100%;
    height: 100%;
}

.btns {
    display: flex;
    gap: 44px;
}