.introTitleBlock {
    padding: 20px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-bottom: 37px;
}

.introTitle {
    color: #3D3C3E;
    font-size: 140px;
    line-height: 1;
    font-family: "BravoRG";
    font-weight: 400;
    text-align: center;
}

@media (max-width: 1170px) {
    .introTitle {
        font-size: 120px;
    }
}

@media (max-width: 1009px) {
    .introTitle {
        font-size: 100px;
    }
}

@media (max-width: 846px) {
    .introTitle {
        font-size: 80px;
    }
}

@media (max-width: 683px) {
    .introTitle {
        font-size: 70px;
    }
}

@media (max-width: 602px) {
    .introTitle {
        font-size: 60px;
    }
}

@media (max-width: 520px) {
    .introTitle {
        font-size: 50px;
    }
}

@media (max-width: 439px) {
    .introTitle {
        font-size: 45px;
    }
}

.accent {
    color: #F25B05;
}

.introBlock {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 34px;
}

.introContent {
    max-width: 626px;
}

.introSubtitle {
    font-family: "BravoSC";
    font-size: 49px;
    font-weight: 404;
    margin-bottom: 32px;
}

.introText {
    font-family: "Play";
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
}

.text {
    width: 404px;
}

.title {
    font-family: "BravoSC";
    font-size: 41px;
    text-align: right;
    font-weight: 400;
    margin-bottom: 33px;
}

.capacities {
    display: flex;
    justify-content: end;
    margin-bottom: 55px;
    gap: 20px;
}

.item {
    font-family: "Play";
    font-size: 15px;
    text-align: center;
    border: 1px solid #3D3C3E;
    border-radius: 10px;
    width: 161px;
    padding: 13px 0;
}

.img img {
    width: 100%;
    max-height: 100%;
}

.btns {
    display: flex;
    gap: 44px;
}

@media (max-width: 1120px) {
    /* .introBlock {
        flex-wrap: wrap;
    }
    .introContent {
        max-width: 100%;
        flex-grow: 1;
    }
    .img {
        width: 100%;
    } */
    .title {
        text-align: left;
    }
    .contentBlock {
        display: flex;
        justify-content: space-between;
        gap: 100px;
        align-items: center;
        /* flex-wrap: wrap; */
    }
    .btns {
        margin-top: 25px;
    }
}

@media (max-width: 1050px) {
    .introBlock {
        flex-wrap: wrap;
    }
    .introContent {
        max-width: 100%;
        flex-grow: 1;
    }
    .img {
        width: 100%;
    }
    .contentBlock {
        flex-wrap: wrap;
        gap: 0;
    }
    .btns {
        margin-top: 0;
    }
}

@media (max-width: 550px) {
    .item {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .item {
        font-size: 13px;
    }
}

@media (max-width: 440px) {
    .capacities {
        gap: 10px;
    }
    .item {
        font-size: 13px;
    }
}

@media (max-width: 420px) {
    .introText {
        font-size: 16px;
    }
    .capacities {
        /* flex-wrap: wrap; */
        justify-content : left;
        gap: 10px;
    }
}