.footer {
    background-color: #3D3C3E;
    padding: 70px 65px 90px;
    border-radius: 20px 20px 0 0;
    color: #fff;
    position: relative;
}

.header {
    padding-bottom: 49px;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 49px;
}

.decorativeText {
    font-family: 'Pacifico';
    color: #FDFDFD;
    font-size: 50px;
    margin-top: 40px;
}

.block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    font-size: 50px;
    font-family: "BravoRG";
    font-weight: 400;
}

.subtitle {
    font-family: 'Play';
    font-size: 18px;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 40px;
}

.accent {
    color: #F25B05;
}

.navBlock {
    display: flex;
    gap: 90px;
}

.navList {
    list-style: none;
    font-family: "Play";
}

.navTitle {
    font-size: 18px;
    color: #FFF;
    margin-bottom: 17px;
}

.navItem {
    font-size: 15px;
    color: #B3B3B3;
    margin-bottom: 13px;
}

.clip {
    position: absolute;
    top: -50px;
}

.rightClip {
    right: 50px;
}